@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@font-face {
  font-family: 'Andy-Bold';
  src:url('../webfonts_Andy-Bold/Andy-Bold.ttf.woff') format('woff'),
      url('../webfonts_Andy-Bold/Andy-Bold.ttf.svg') format('svg'),
      url('../webfonts_Andy-Bold/Andy-Bold.ttf.eot'),
      url('Andy-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.sidebar {
    height: 100%;
    width: 112px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #69BFBF;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 16px;
    white-space: nowrap;
}
.sidebar a {
    padding: 0px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}
.sidebar a:hover {
    color: #605770;
}
main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav-icon, .icon-text {
    vertical-align: middle;
}
.icon-text {
    padding-left: 32px;
}
.material-icons {
    padding-bottom: 3px;
    margin-right: 30px;
}
#main {
    padding: 32px;
    margin-left: 112px;
    transition: margin-left 0.5s;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#main a {
    color: #605770;
    text-decoration: none;
    margin: auto;
}
#main a:hover {
    color: #DC868B;
}
@media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    } 
} 
.nav-icon {
    width: 80px;
    padding-bottom: 3px;
}
br {
    height: 0;
}
body {
    background-color: #C9C8C3;
    font-family: "andy-bold";
    color: #242423;
}
.link-message {
    margin: 0;
}

.home-header {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 20px auto 30px;
    padding: 0;
    display: flex;
    border: solid #19180a 5px;
    width: 98%;
    text-align: center;
    padding: 5px;
}
.home-header h1 {
    font-size: 90px;
    padding: 10px 0 0;
    margin: auto;
    height: 100px;
    text-align: center;
}

.home-info {
    grid-column: 1/13;
    grid-row: 2/3;
    padding: 0 150px;
    text-align: center;
    font-size: 29px;
    width: 800px;
    margin: 0px auto 30px;
}

.class-guide {
    margin: 0 auto;
    grid-column: 1/4;
    grid-row: 4/5;
}
.raid-guide {
    margin: 0 auto;
    grid-column: 4/7;
    grid-row: 4/5;
}
.vanguard-guide {
    margin: 0 auto;
    grid-column: 7/10;
    grid-row: 4/5;
}
.gambit-guide {
    margin: 0 auto;
    grid-column: 10/13;
    grid-row: 4/5;
}
.crucible-guide {
    margin: 0 auto;
    grid-column: 1/4;
    grid-row: 5/6;
}
.placeholder1 {
    margin: 0 auto;
    grid-column: 4/7;
    grid-row: 5/6;
}
.placeholder2 {
    margin: 0 auto;
    grid-column: 7/10;
    grid-row: 5/6;
}
.placeholder3 {
    margin: 0 auto;
    grid-column: 10/13;
    grid-row: 5/6;
}

.home-img {
    width: 70%;
    margin: 0 15%;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin: 0 0 20px;
}
.subtext p {
    width: 270px;
}
.subtext {
    font-size: 30px;
    text-align: center;
    margin: 10px auto 20px;
    width: 90%;
}

/* Raid Page */

.raid-header {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 20px auto 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: solid #19180a 5px;
    width: 98%;
    text-align: center;
    padding: 5px;
}
.raid-header h1 {
    grid-column: 6/8;
    font-size: 90px;
    padding: 10px 0 0;
    margin: auto;
    height: 100px;
    text-align: center;
}
.ghost1 {
    grid-column: 2/3;
    height: 90px;
    margin:auto;
}
.ghost2 {
    grid-column: 11/12;
    height: 90px;
    margin:auto;
}
.header-raid1 {
    grid-column: 4/5;
    height: 90px;
    margin: auto;
}
.header-raid2 {
    grid-column: 9/10;
    height: 90px;
    margin: auto;
}
.header-tricon1 {
    grid-column: 3/4;
    height: 90px;
    margin: auto;
}
.header-tricon2 {
    grid-column: 10/11;
    height: 90px;
    margin: auto;
}
.header-logo {
    height: 100px;
    margin: auto;
}
.raid-logo {
    width: 70%;
    margin: 10px 15%;
}
.raid-name {
    margin: 0 auto 50px auto;
    text-align: center;
}
.gos {
    grid-column: 1/4;
    grid-row: 2/3;
}
.lw {
    grid-column: 4/7;
    grid-row: 2/3;
}
.dsc {
    grid-column: 7/10;
    grid-row: 2/3;
}
.vog {
    grid-column: 10/13;
    grid-row: 2/3;
}
.votd {
    grid-column: 1/4;
    grid-row: 3/4;
}
.kf {
    grid-column: 4/7;
    grid-row: 3/4;    
}
.placeholder4 {
    grid-column: 7/10;
    grid-row: 3/4;
}
.placeholder5 {
    grid-column: 10/13;
    grid-row: 3/4;
}

/* Garden of Salvation Guide */

.gos-header {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 20px auto 0;
    padding: 0;
    display: flex;
    border: solid #19180a 5px;
    width: 98%;
    text-align: center;
    padding: 5px;
}
.gos-header h1 {
    font-size: 90px;
    padding: 10px 0 0;
    margin: auto;
    height: 100px;
    text-align: center;
}
.header-gos {
    height: 95px;
    margin: auto;
}

.block {
    grid-column: 1/13;
    display: block;
}
.block p {
    font-size: 23px;
    margin: 12px 0 12px 50px;
    max-width: 65%;
}
.gos-heading {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 5px;
}
.gos-img {
    width: 48%;
    margin: auto;
}
#layout {
    width: 400px;
}
.arrow {
    width: 40px;
    height: 40px;
    margin: auto 0;
}
.img1 {
    display: flex;
}

/* Class Guide */

.class-header {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 20px auto 30px;
    padding: 0;
    display: flex;
    border: solid #242423 5px;
    width: 98%;
    text-align: center;
    padding: 5px;
}
.class-header h1 {
    font-size: 90px;
    padding: 10px 0 0;
    margin: auto;
    height: 100px;
    text-align: center;
}
.hunter-header {
    height: 80px;
    margin:auto;
}
.titan-header {
    height: 80px;
    margin:auto;
}
.warlock-header {
    height: 80px;
    margin:auto;
}

.class-name {
    font-size: 60px;
    margin: 10px auto 0;
    text-align: center;
}
.hunter {
    grid-column: 1/5;
    grid-row: 2/3;
    margin: auto;
    border: solid #242423 4px;
    width: 90%;
    display: flex;
}
.titan {
    grid-column: 5/9;
    grid-row: 2/3;
    margin: auto;
    border: solid #242423 4px;
    width: 90%;
    display: flex;
}
.warlock {
    grid-column: 9/13;
    grid-row: 2/3;
    margin: auto;
    border: solid #242423 4px;
    width: 90%;
    display: flex;    
}
.symbol-name {
    height: 50px;
    margin:auto;
}
.hunter-portrait {
    grid-column: 1/5;
    grid-row: 3/4;
    margin: 10px auto;
}
.titan-portrait {
    grid-column: 5/9;
    grid-row: 3/4;
    margin: 10px auto;
}
.warlock-portrait {
    grid-column: 9/13;
    grid-row: 3/4;
    margin: 10px auto;
}
.portrait {
    width: 92%;
    margin: 0 4%;
    outline: solid #242423 5px;
    outline-offset: -5px;
}
.sub {
    text-align: center;
    font-size: 45px;
    margin: 10px;
    text-decoration: underline;
}
.sub-img {
    width: 85px;
}
.hunt-sub {
    grid-column: 1/5;
    grid-row: 5/6;
    margin: auto
}
.tit-sub {
    grid-column: 5/9;
    grid-row: 5/6;
    margin: auto
}
.war-sub {
    grid-column: 9/13;
    grid-row: 5/6;
    margin: auto
}
/*
.info {
    grid-column: 1/13;
    grid-row: 6;
    display: block;
    margin-top: 100px;
}
.info h1 {
    font-size: 50px;
}
.hunter-info
*/

















@media screen and (max-width: 1350px) {
    .raid-header {
        display: flex;
    }
    .header-tricon1 {
        display: none;
    }
    .header-tricon2 {
        display: none;
    }
    .ghost1 {
        display: none;
    }
    .ghost2 {
        display: none;
    }
    .gos {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .lw {
        grid-column: 5/9;
        grid-row: 2/3;
    }
    .dsc {
        grid-column: 9/13;
        grid-row: 2/3;
    }
    .vog {
        grid-column: 1/5;
        grid-row: 3/4;
    }
    .votd {
        grid-column: 5/9;
        grid-row: 3/4;
    }
    .kf {
        grid-column: 9/13;
        grid-row: 3/4;    
    }
    .placeholder4 {
        grid-column: 1/5;
        grid-row: 4/5;
    }
    .placeholder5 {
        grid-column: 5/9;
        grid-row: 4/5;
    }

    .class-guide {
        margin: 0 auto;
        grid-column: 1/5;
        grid-row: 4/5;
    }
    .raid-guide {
        margin: 0 auto;
        grid-column: 5/9;
        grid-row: 4/5;
    }
    .vanguard-guide {
        margin: 0 auto;
        grid-column: 9/13;
        grid-row: 4/5;
    }
    .gambit-guide {
        margin: 0 auto;
        grid-column: 1/5;
        grid-row: 5/6;
    }
    .crucible-guide {
        margin: 0 auto;
        grid-column: 5/9;
        grid-row: 5/6;
    }
    .placeholder1 {
        margin: 0 auto;
        grid-column: 9/13;
        grid-row: 5/6;
    }
    .placeholder2 {
        display: none;
    }
    .placeholder3 {
        display: none;
    }
}
@media screen and (max-width: 1076px) {
    .header-gos {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .gos-header h1 {
        font-size: 65px;
        height: 75px;
    }
}
@media screen and (max-width: 1200px) {
    .hunter-header {
        display: none;
    }
    .titan-header {
        display: none;
    }
    .warlock-header {
        display: none;
    }
}
@media screen and (max-width: 1420px) {
    .symbol-name {
        display: none;
    }
}